requests==2.10.0
GitPython==2.0.3
PyYAML==3.12
jsonschema==2.5.1
rfc3987==1.3.7
future==0.15.2
pytz==2016.4
pytest==2.9.1
pytest-cov==2.2.1
pytest-flake8==0.2
numpy>=1.11.0
responses==0.5.1
twine==1.6.5
wheel==0.29.0
